body {
  /*background-color: #DBDBDB;*/
  background-color: #606060;
}

*, h4, h5, h6, p {
  font-family: 'Droid Serif', sans-serif;
  color: black;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  color: black;
}

a, a:active, a:focus {
  color: red;
}

a:hover {
  color: #E70000;
}

button, .button {
  background-color: red;
}

button:hover, .button:hover {
  background-color: #E70000;
}

.bold {
  font-weight: bold;
}

.large {
  font-size: 1.2rem;
}

.small {
  font-size: .8rem;
}

.grey {
  color: #4d4e51;
}

.black {
  color: black;
}

.white {
  color: white;
}

a.black {
  text-decoration: underline;
  color: black;
}

a.black:hover {
  color: #757575;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.validation input.ng-valid, .validation select.ng-valid {
  background-color: #e6fdeb;
}

.validation input.ng-touched.ng-invalid, .validation select.ng-touched.ng-invalid {
  background-color: #faede7;
}

fieldset legend {
  background: none;
}

.switch {
  height: 2rem;
}

#splash {
  padding-top: 3rem;
  padding-bottom: 6rem;
  margin-top: -32px;
}

#layer1, #layer2 {
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

#icons {
  margin-top: 2rem;
}

#icons img {
  max-height: 6rem;
}

#logo {
  margin-top: 0.5rem;
}

#logo img {
  height: 5rem;
}

#date {
  margin-top: 0rem;
}

#date h2 {
  font-size: 1.2rem;
}

#updates {
  margin-top: 2rem;
}

#about {
  background-color: #231F20;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
}

#about h1,
#about h2,
#about h3,
#about h4,
#about h5,
#about h6,
#about p {
  color: white;
}

@media (min-width: 480px) and (max-width: 600px) {
  #date h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  #logo {
    margin-top: 1.5rem;
  }

  #date {
    margin-top: 1rem;
  }

  #date h2 {
    font-size: 1.8rem;
  }
}

@media (min-width: 1025px) {
  #logo {
    margin-top: 2rem;
  }

  #date {
    margin-top: 1.5rem;
  }

  #date h2 {
    font-size: 2.2rem;
  }
}