#application {
  background: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#application p {
  font-size: 2rem;
  color: white;
  text-align: center;
}

#application input {
  border: 0;
  border-bottom: 2px solid red;
  background: none;
  box-shadow: none;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  height: 3rem;
  width: 100%;
  text-align: center;
}

#application input::selection {
  background-color: #D3D3D3;
  color: #D3D3D3;
}

#application input, input:focus, textarea, textarea:focus, select, select:focus, a {
  outline: none;
}

#application .section {
  position: absolute;
  width: 100%;
  top: 100vh;
  padding: .5em;
}

#application .advance {
  position: relative;
  top: 10px;
}

#application button {
  font-family: 'Droid Serif', serif;
  font-size: 0.8rem;
}

#application button.btn-prev {
  padding-left: 1rem;
  padding-right: 1rem;
}

#application select {
  background: none;
  color: white;
  border: 1px solid red;
}

#application label {
  border: 1px solid red;
  margin-bottom: -1px;
}

#application label span {
  color: white;
  float: left;
  margin-top: 14px;
}

#application label input {
  color: white;
  width: 2rem;
  float: left;
  margin-bottom: -2px;
}

#application input[type="checkbox"] {
  background-color: red;
}