#application {
  background: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#application p {
  font-size: 6vw;
  color: white;
  text-align: center;
}

#application input {
  border: 0;
  border-bottom: 3px solid red;
  background: none;
  box-shadow: none;
  font-size: 6vw;
  color: white;
  font-weight: bold;
  height: 12vw;
  padding: 0;
  margin: 0;
  padding-top: 0.9rem;
  text-align: center;
}

#application input::selection {
  background-color: red;
  color: red;
}

#application .section {
  position: absolute;
  width: 100%;
  top: 100vh;
}

#application .advance {
  margin-top: 10px;
}

#application button {
  font-family: 'Droid Serif', serif;
}

#play {
  position: absolute;
  width: 80vw;
  height: 80vh;
  margin-top: 10vh;
  background-color: #6D6D6D;
  z-index: 100;
  border: 2px solid red;
}

#ball-cup {
  width: 1000px;
  height: 800px;
}