#application {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background-color: #1C1C1C;
}

#application .blinds {
  background-color: black;
  opacity: 0.8;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#application *:focus {
  outline: 0;
}

#application input::selection {
  background: #404040;
}

#application::-moz-selection {
  background: #404040;
}

#application *::-webkit-input-placeholder {
   color: rgba(0, 0, 0, 0.3);
}

#application *:-moz-placeholder { /* Firefox 18- */
   color: rgba(0, 0, 0, 0.3);
}

#application *::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(0, 0, 0, 0.3);
}

#application *:-ms-input-placeholder {
   color: rgba(0, 0, 0, 0.3);
}

#application header {
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
}

#application header h1 {
  color: white;
  font-size: 1.5rem;
}

#application article {
  width: 90vw;
  margin: auto;
  font-size: 1.75rem;
  line-height: 3rem;
  color: white;
  padding: 1rem 0 1rem 0;
}

#application article span {
  color: red;
  border-bottom: 1px dashed red;
  padding-bottom: 0.2rem;
  cursor: pointer;
}

#application article span.no-input {
  color: white;
  border: none;
  padding: 0;
  cursor: text;
}

#application article .text input,
#application article .select select {
  z-index: 10;
  background-color: red;
  color: white;
  font-family: 'Droid-Serif';
  border: none;
  position: absolute;
  top: 10rem;
  left: 5vw;
  font-size: 1.75rem;
  height: 3rem;
  width: 68vw;
}

#application article label {
  position: absolute;
  top: 10rem;
  color: #CC0000;
  font-size: 0.8rem;
  z-index: 10;
  margin-top: 3rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  background-color: red;
  border-top: 1px dashed #CC0000;
  width: 90vw;
  height: 1.8rem;
}

#application article label button {
  z-index: 10;
  position: absolute;
  background: #CC0000;
  top: -3.05rem;
  height: 4.81rem;
  width: 22vw;
  right: 0;
}

#application article label button i {
  color: white;
  font-size: 2rem;
}

#application article p {
  color: white;
}

#application article .small {
  font-size: 1rem;
}

#application article .checkbox .input {
  z-index: 10;
  background: red;
  position: absolute;
  top: 10rem;
  left: 5vw;
  width: 90vw;
}

#application article .checkbox .item {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

#application article .checkbox .item.checked {
  background: rgba(0, 0, 0, 0.1);
}

#application article .checkbox .item::before {
  content: '\f096';
  font-family: 'FontAwesome';
  margin-right: 0.2rem;
}

#application article .checkbox .item.checked::before {
  content: '\f046';
  font-family: 'FontAwesome';
  margin-right: 0.2rem;
}

#application article .checkbox label {
  margin-top: 2.8rem;
  height: 2.5rem;
  padding-top: 0.5rem;
}

#application article .checkbox label button {
  height: 2.5rem;
  top: -1px;
  padding: 0;
}

#application article .checkbox label button i {
  font-size: 1rem;
}

#application footer {
  background: none;
  width: 90vw;
  margin: auto;
}

#application footer button {
  width: 90vw;
  height: 4rem;
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 0;
}

#application footer button span {
  position: absolute;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 15vw;
  height: 4rem;
}

#application footer button span i {
  color: white;
  font-size: 2rem;
  width: 15vw;
  margin: auto;
  margin-top: -1rem;
}