#mini-schedule {
  background: white;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
}

#mini-schedule h5 {
  font-family: 'Oswald', serif;
  font-size: 1.2rem;
}

#mini-schedule .section {
  border-bottom: 1px solid #E8E8E8;
  padding: 1rem 0.2rem 1rem 0.2rem;
}