.schedule h2 {
  text-transform: uppercase;
}

.schedule h4 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.schedule table {
  background: none;
  border: none;
  border-spacing: 0;
}

.schedule td {
  padding: 1.5rem 1rem 1.5rem 1rem;
}

.schedule tr:nth-of-type(even) {
  background: none;
  border: none;
}

.schedule td.right-col {
  border-left: 2px solid red;
}

.schedule a {
  border-bottom: 1px dashed red;
}

.schedule h2 {
  margin-bottom: 1.5rem;
}