<div id="account">
  <header>
    <h1>KHE | Account Recovery</h1>
  </header>
  <article>
    <div class="row">
      <div class="small-12 columns">
        <div class="alert-box alert" ng-if="acc.recover.errors">
          <ul>
            <li ng-repeat="e in acc.recover.errors" class="white">{{e}}</li>
          </ul>
        </div>
        <div class="alert-box success" ng-if="acc.recover.successes">
          <ul>
            <li ng-repeat="e in acc.recover.successes" class="white">{{e}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <form ng-submit="acc.recover.submit()">
          <div class="row">
            <div class="small-12 columns">
              <p class="white">Enter your email address below and click "Recover". An email will be sent to you with a new password. Please log in with that password and change it to something you'll remember.</p>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <label>
                Email
                <input type="email" ng-model="acc.recover.email" placeholder="you@example.edu">
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <button>Recover</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </article>
</div>