<requirelogin user="application.me" error="true">

  <div id="application">

    <div class="blinds"></div>

    <form ng-submit="application.submit()">
      <header>
        <h1>Apply to Kent Hack Enough</h1>
      </header>
      <article>
        I am
        <span class="text">
          {{application.name | application:'name'}}
          <span class="input">
            <input type="text" placeholder="John Doe" ng-model="application.name">
            <label>Your full name <button><i class="fa fa-arrow-right"></i></button></label>
          </span>
        </span>,
        a
        <span class="select">
          {{application.gender | application:'gender'}}
          <span class="input">
            <select ng-model="application.gender">
              <option value="male">male</option>
              <option value="female">female</option>
              <option value="other">other</option>
            </select>
            <label>Your gender <button><i class="fa fa-arrow-right"></i></button></label>
          </span>
        </span>
        student at
        <span class="text">
          {{application.school | application:'school'}}
          <span class="input">
            <input type="text" placeholder="State University" ng-model="application.school">
            <label>Your school <button><i class="fa fa-arrow-right"></i></button></label>
          </span>
        </span>,
        where I study
        <span class="text">
          {{application.major | application:'major'}}
          <span class="input">
            <input type="text" placeholder="Computer Science" ng-model="application.major">
            <label>Your major <button><i class="fa fa-arrow-right"></i></button></label>
          </span>
        </span>.
        You can reach me at
        <span class="text">
          {{application.phone | application:'phone'}}
          <span class="input">
            <input type="tel" placeholder="(555) 555-5555" ng-model="application.phone">
            <label>Your phone number <button><i class="fa fa-arrow-right"></i></button></label>
          </span>
        </span>.
        I wear a
        <span class="select">
          {{application.shirt | application:'shirt'}}
          <span class="input">
            <select ng-model="application.shirt">
              <option value="S">small</option>
              <option value="M">medium</option>
              <option value="L">large</option>
              <option value="XL">x-large</option>
            </select>
            <label>Your shirt size <button><i class="fa fa-arrow-right"></i></button></label>
          </span>
        </span>
        t-shirt.
        I am a
        <span class="text">
          {{application.age | application:'age'}}
          <span class="input">
            <input type="number" placeholder="21" ng-model="application.age">
            <label>Your age <button><i class="fa fa-arrow-right"></i></button></label>
          </span>
        </span>
        year-old
        <span class="select">
          {{application.year | application:'year'}}
          <span class="input">
            <select ng-model="application.year">
              <option value="Freshman">Freshman</option>
              <option value="Sophomore">Sophomore</option>
              <option value="Junior">Junior</option>
              <option value="Senior">Senior</option>
              <option value="High School">High Schooler</option>
            </select>
            <label>Your year in school <button><i class="fa fa-arrow-right"></i></button></label>
          </span>
        </span>,
        and KHE
        <span class="select">
          {{application.first | application:'first'}}
          <span class="input">
            <select ng-model="application.first">
              <option value="true">is</option>
              <option value="false">is not</option>
            </select>
            <label>Is KHE your first hackathon? <button><i class="fa fa-arrow-right"></i></button></label>
          </span>
        </span>
        my first hackathon.
      </article>
      <footer>
        <button><span><i class="fa fa-arrow-right"></i></span> Apply</button>
      </footer>
    </form>
  </div>

  <script>

  jQuery(document).ready(function ($) {
    var form = $('#application form');
    var texts = $('#application .text');
    var selects = $('#application .select');
    var blinds = $('#application .blinds');

    // Hide all form inputs
    var hidden = false;
    function hideAll() {
      texts.children('.input').hide();
      selects.children('.input').hide();
      blinds.hide();
      hidden = true;
    }
    hideAll();

    $(window).keypress(function (event) {
      if (event.keyCode == 13) {
        if (!hidden) {
          event.preventDefault();
          hideAll();
        }
      }
    });

    // Show text inputs on click
    texts.click(function () {
      hidden = false;
      blinds.show();
      $(this)
        .children('.input')
        .show()
        .children('input')
        .focus()
        .select()
        .blur(function () {
          hideAll();
        });
    });

    // Show selects on click
    selects.click(function () {
      hidden = false;
      blinds.show();
      $(this)
        .children('.input')
        .show()
        .children('select')
        .focus()
        .blur(function () {
          hideAll();
        });
    });
  });

  </script>

</requirelogin>