<div id="application">
  <div class="row">
    <div class="small-12 columns">
      <form ng-submit="application.submit()" novalidate class="validation">

        <!-- Name -->
        <div class="row section" id="name">
          <p>What is your name?</p>
          <input type="text" ng-model="application.name" placeholder="John Doe" required>
        </div>

        <!-- Phone -->
        <div class="row section" id="phone">
          <p>What is your phone number?</p>
          <input type="text" ng-model="application.phone" placeholder="555-555-5555" required>
        </div>

        <!-- School -->
        <div class="row section" id="school">
          <p>What school do you go to?</p>
          <input type="text" ng-model="application.school" placeholder="State University" required>
        </div>

        <!-- T-shirt size -->
        <div class="row section" id="shirt">
          <p>What is your t-shirt size?</p>
          <select ng-model="application.shirt" required>
            <option value="S">Small</option>
            <option value="M" selected>Medium</option>
            <option value="L">Large</option>
            <option value="XL">X-Large</option>
          </select>
        </div>

        <!-- Dietary restrictions -->
        <div class="row section" id="dietary">
          <p>Select any dietary restrictions you have:</p>
          <label ng-repeat="restriction in application.diet.possible" class="small-12 columns">
            <input
              type="checkbox"
              name="selectedRestrictions[]"
              value="{{restriction}}"
              ng-checked="application.diet.selected.indexOf(restriction) > -1"
              ng-click="application.diet.toggleSelection(restriction)"
            > {{restriction}}
          </label>
        </div>

        <!-- Age -->
        <div class="row section" id="age">
          <p>How old are you?</p>
          <input type="text" ng-model="application.age" required>
        </div>

        <!-- Gender -->
        <div class="row section" id="gender">
          <p>Gender:</p>
          <select ng-model="application.gender" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
        </div>

        <!-- Class -->
        <div class="row section" id="class">
          <p>What is your year in school?</p>
          <select ng-model="application.year" required>
            <option value="Senior">Senior</option>
            <option value="Junior">Junior</option>
            <option value="Sophomore">Sophomore</option>
            <option value="Freshman">Freshman</option>
            <option value="High School">High School</option>
          </select>
        </div>

        <!-- First hackathon -->
        <div class="row section" id="first">
          <p>Is this your first hackathon?</p>
          <select ng-model="application.first">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>

        <!-- Major -->
        <div class="row section" id="major">
          <p>What is your major?</p>
          <input type="text" ng-model="application.major" required>
        </div>

        <!-- Travel -->
        <div class="row section" id="travel">
          <p>Will you require travel reimbursement?</p>
          <select ng-model="application.travel" required>
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>

        <!-- Agreements -->
        <div class="row section" id="agreements">
          <label>
            <input type="checkbox" ng-model="application.demographic" value="true" required>
            I agree to allow my demographic information to be used anonymously to improve hackathons.
            <br>
          </label>
          <label>
            <input type="checkbox" ng-model="application.conduct" value="true" required>
            I agree to the MLH Code of Conduct
            <br>
          </label>
          <label>
            <input type="checkbox" ng-model="application.waiver" value="true" required>
            I agree to this event waiver.
            <br>
          </label>
        </div>

        <!-- Submission button -->
        <div class="row section" id="submit">
          <button>Submit</button>
        </div>

      </form>
    </div>
  </div>
</div>