<requirelogin user="application.me" error="true">

  <div id="application">

    <div class="blinds"></div>

    <form ng-submit="application.submit">
      <header>
        <h1>Apply to Kent Hack Enough</h1>
      </header>
      <article>
        I am
        <span class="text">
          {{application.name}}
          <span class="input">
            <input type="text" placeholder="John Doe" data-subline="Your full name" ng-model="application.name">
            <label>Your full name</label>
          </span>
        </span>,
        a
        <span class="input select">
          {{application.gender}}
          <select ng-model="application.gender">
            <option value="male">male</option>
            <option value="female">female</option>
            <option value="other">other</option>
          </select>
        </span>
        student at
        <span class="input text">
          {{application.school}}
          <input type="text" placeholder="State University" data-subline="The name of your school" ng-model="application.school">
        </span>,
        where I study
        <span class="input text">
          {{application.major}}
          <input type="text" placeholder="Computer Science" data-subline="Your major" ng-model="application.major">
        </span>.
        You can reach me at
        <span class="input text">
          {{application.phone}}
          <input type="tel" placeholder="(555) 555-5555" data-subline="Your phone number" ng-model="application.phone">
        </span>.
        I wear a
        <span class="input select">
          {{application.shirt}}
          <select ng-model="application.shirt">
            <option value="S">small</option>
            <option value="M">medium</option>
            <option value="L">large</option>
            <option value="XL">x-large</option>
          </select>
        </span>
        t-shirt.
        I am a
        <span class="input text">
          {{application.age}}
          <input type="number" placeholder="21" data-subline="Your age" ng-model="application.age">
        </span>
        year-old
        <span class="input select">
          {{application.year}}
          <select ng-model="application.year">
            <option value="Freshman">Freshman</option>
            <option value="Sophomore">Sophomore</option>
            <option value="Junior">Junior</option>
            <option value="Senior">Senior</option>
            <option value="High School">High Schooler</option>
          </select>
        </span>,
        and KHE
        <span class="input select">
          {{application.first}}
          <select ng-model="application.first">
            <option value="true">is</option>
            <option value="false">is not</option>
          </select>
        </span>
        my first hackathon.
        <br>
        I have the following dietary restrictions:
        <span class="input checkbox">
          <label ng-repeat="restriction in application.diet.possible" class="small-12 columns checkbox">
            <input
              type="checkbox"
              name="selectedRestrictions[]"
              value="{{restriction}}"
              ng-checked="application.diet.selected.indexOf(restriction) > -1"
              ng-click="application.diet.toggleSelection(restriction)"
            > {{restriction}}
          </label>
        </span>
      </article>
      <footer>
        <button>Apply</button>
      </footer>
    </form>
  </div>

  <script>

  jQuery(document).ready(function ($) {
    var texts = $('#application .text');
    var selects = $('#application .input.select');
    var checkboxes = $('#application .input.checkbox');

    var blinds = $('#application .blinds');

    // Hide all form inputs
    texts.children('.input').hide();
    selects.children('select').hide();
    checkboxes.children('label').hide();

    // Show text inputs on click
    texts.click(function () {
      blinds.show();
      $(this)
        .children('.input')
        .show()
        .children('input')
        .focus()
        .select()
        .blur(function () {
          $(this).parent('.input').hide();
          blinds.hide();
        });
    });

    // Show selects on click
    selects.click(function () {
      blinds.show();
      $(this)
        .children('select')
        .show()
        .focus()
        .blur(function () {
          $(this).hide();
          blinds.hide();
        });
    });

    // Show checkboxes on click
    checkboxes.click(function () {
      $(this).children('label').show();
    });
  });

  </script>

</requirelogin>