<div class="dark-page">
  <header>
    <div class="row">
      <div class="small-12 columns">
        <h1>KHE | SCHEDULE</h1>
      </div>
    </div>
  </header>

  <div class="row">
    <div class="small-12 medium-4 columns">
      <div class="white" ng-repeat="event in schedule.events.all">{{event.title}}</div>
    </div>
    <div class="small-12 medium-4 columns">
      <div class="white" ng-repeat="event in schedule.events.all">{{event.title}}</div>
    </div>
    <div class="small-12 medium-4 columns">
      <div class="white" ng-repeat="event in schedule.events.all">{{event.title}}</div>
    </div>
  </div>

</div>