<div class="dark-page">
  <header>
    <div class="row">
      <div class="small-12 columns">
        <h1>KHE | SCHEDULE</h1>
      </div>
    </div>
  </header>


  <div ng-repeat="(day, events) in schedule.events.days" class="row schedule align-center">
    <h2 class="white">{{day}}</h2>
    <table class="small-12 columns">
      <tr ng-repeat="event in events | orderBy:'start':false">
        <td class="align-right" width="200">
          <span class="white">{{event.start|timeOfDay}} - {{event.end|timeOfDay}}</span><br>
          <span class="white">{{event.location}}</span>
        </td>
        <td class="align-left right-col" width="200">
          <h4 class="white">{{event.title}}</h4>
          <span class="white">{{event.description}}</span>
        </td>
      </tr>
    </table>
  </div>

</div>