<header>
  <h1>Apply to Kent Hack Enough</h1>
</header>
<div class="page-indicator">
  <i ui-sref="apply.page1" class="fa fa-circle-o"></i>
  <i ui-sref="apply.page2" class="fa fa-circle"></i>
  <i ui-sref="apply.page3" class="fa fa-circle-o"></i>
  <i ui-sref="apply.page4" class="fa fa-circle-o"></i>
</div>
<article class="short">
  <h2 class="white">ADDITIONAL INFO</h2>
  <span class="small white">Dietary restrictions:</span>
  <a ng-click="open('dietary')" class="small">{{application.diet.selected | application:'dietary'}}</a>
  <div class="input checkbox" ng-if="display.dietary">
    <p ng-repeat="restriction in application.diet.possible"
       ng-click="application.diet.toggleSelection(restriction)"
       ng-class="{checked: application.diet.selected.indexOf(restriction) > -1}"
       class="item"> {{restriction}} </p>
    <label>Dietary restrictions</label>
    <button ng-click="closeAll()"></button>
  </div>
  <br>
  <span class="small white">Will you require travel reimbursement?</span>
  <a class="small" ng-click="open('travel')">{{application.travel | application:'travel'}}</a>
  <div class="input select" ng-if="display.travel">
    <select ng-model="application.travel">
      <option value="false">No</option>
      <option value="true">Yes</option>
    </select>
    <label>Travel reimbursement?</label>
    <button ng-click="closeAll()"></button>
  </div>
  <br>
  <span class="white small">GitHub/LinkedIn/Personal Website link (optional):</span>
  <a ng-click="open('link')" class="small">{{application.link | application:'link'}}</a>
  <div class="input text" ng-if="display.link">
    <input type="text" placeholder="github.com/username" ng-model="application.link">
    <label>A link to something you've done</label>
    <button ng-click="closeAll()"></button>
  </div>
  <br><br>
  <span ng-if="application.resume" class="small white"><i class="fa fa-check white"></i> Resume uploaded. Upload a new one to replace it (optional):</span>
  <span class="small white" ng-if="!application.resume">Upload your resume (optional):</span>
  <div id="resume-upload" class="dropzone">
    <div class="dz-message">Drop files here or click to upload</div>
  </div>
  <input type="text" ng-model="application.resume" id="resume-filename" style="display:none;">
</article>
<footer>
  <div data-alert class="alert-box alert" ng-if="application.errors">
    <ul>
      <li ng-repeat="e in application.errors">{{e}}</li>
    </ul>
    <br>
    <a class="white large" ui-sref="apply.page1">Basic Info</a> <span class="large">|</span>
    <a class="white large" ui-sref="apply.page2">Additional Info</a> <span class="large">|</span>
    <a class="white large" ui-sref="apply.page3">Agreements</a> <span class="large">|</span>
    <a class="white large" ui-sref="apply.page4">Summary</a>
  </div>
  <button ui-sref="apply.page3"><span><i class="fa fa-arrow-right"></i></span> Next</button>
</footer>

<script>
  jQuery(document).ready(function ($) {
    var resume = new Dropzone('div#resume-upload', {
      url: config.api + '/users/application/resume',
      maxFiles: 1,
      acceptedFiles: 'application/pdf,.pdf,.doc,.docx',
      addRemoveLinks: false,
      uploadMultiple: false,
      createImageThumbnails: true,
      paramName: 'resume',
      success: function (file, response) {
        $('#resume-filename').val(response.filename).trigger('input');
      }
    });
  });
</script>