<header>
  <h1>Apply to Kent Hack Enough</h1>
</header>
<div class="page-indicator">
  <i ui-sref="apply.page1" class="fa fa-circle-o"></i>
  <i ui-sref="apply.page2" class="fa fa-circle-o"></i>
  <i ui-sref="apply.page3" class="fa fa-circle-o"></i>
  <i ui-sref="apply.page4" class="fa fa-circle"></i>
</div>
<article class="short">
  <div class="row">
    <h2 class="white">SUMMARY</h2>

    <div class="small-12 large-6 columns">
      <!-- Name -->
      <span class="small white">Name:</span>
      <a class="small" ng-click="open('name')">{{application.name | application:'name'}}</a>
      <br>

      <!-- Gender -->
      <span class="small white">Gender:</span>
      <a class="small" ng-click="open('gender')">{{application.gender | application:'gender' | capitalizeFirstLetter}}</a>
      <br>

      <!-- Phone -->
      <span class="small white">School:</span>
      <a class="small" ng-click="open('school')">{{application.school | application:'school'}}</a>
      <br>

      <!-- Major -->
      <span class="small white">Major:</span>
      <a class="small" ng-click="open('major')">{{application.major | application:'major'}}</a>
      <br>

      <!-- Phone -->
      <span class="small white">Phone:</span>
      <a class="small" ng-click="open('phone')">{{application.phone | application:'phone'}}</a>
      <br>

      <!-- Shirt size -->
      <span class="small white">Shirt size:</span>
      <a class="small" ng-click="open('shirt')">{{application.shirt | application:'shirt' | capitalizeFirstLetter}}</a>
      <br>

      <!-- Age -->
      <span class="small white">Age:</span>
      <a class="small" ng-click="open('age')">{{application.age | application:'age'}}</a>
      <br>
    </div>

    <div class="small-12 large-6 columns">
      <!-- Class -->
      <span class="small white">Class:</span>
      <a class="small" ng-click="open('year')">{{application.year | application:'year'}}</a>
      <br>

      <!-- First hackathon? -->
      <span class="small white">First hackathon?:</span>
      <a class="small" ng-click="open('first')">{{application.first | application:'firstv2'}}</a>
      <br>

      <!-- Dietary restrictions -->
      <span class="small white">Dietary restrictions:</span>
      <a ng-click="open('dietary')" class="small">{{application.diet.selected | application:'dietary'}}</a>
      <br>

      <!-- Travel reimbursement? -->
      <span class="small white">Travel reimbursement?</span>
      <a class="small" ng-click="open('travel')">{{application.travel | application:'travel'}}</a>
      <br>

      <!-- Resume -->
      <span class="small white">Resume (optional):</span>
      <span ng-if="application.resume" class="small white"><i class="fa fa-check white"></i> Uploaded</span>
      <span ng-if="!application.resume" class="small white"><i class="fa fa-times white"></i> None</span>
      <br>

      <!-- Link -->
      <span class="white small">Link (optional):</span>
      <a ng-click="open('link')" class="small">{{application.link | application:'link'}}</a>
    </div>
  </div>

  <!-- Actual input boxes -->
  <div class="input text" ng-if="display.name">
    <input type="text" placeholder="John Doe" ng-model="application.name">
    <label>Your full name</label>
    <button ng-click="closeAll()"></button>
  </div>

  <div class="input select" ng-if="display.gender">
    <select ng-model="application.gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
    </select>
    <label>Your gender</label>
    <button ng-click="closeAll()"></button>
  </div>

  <div class="input text" ng-if="display.school">
    <input type="text" placeholder="State University" ng-model="application.school" list="school-datalist">
    <school-datalist></school-datalist>
    <label>Your school</label>
    <button ng-click="closeAll()"></button>
  </div>

  <div class="input text" ng-if="display.major">
    <input type="text" placeholder="Computer Science" ng-model="application.major">
    <label>Your major</label>
    <button ng-click="closeAll()"></button>
  </div>

  <div class="input text" ng-if="display.phone">
    <input type="tel" placeholder="(555) 555-5555" ng-model="application.phone">
    <label>Your phone number</label>
    <button ng-click="closeAll()"></button>
  </div>

  <div class="input select" ng-if="display.shirt">
    <select ng-model="application.shirt">
      <option value="S">Small</option>
      <option value="M">Medium</option>
      <option value="L">Large</option>
      <option value="XL">X-Large</option>
    </select>
    <label>Your shirt size</label>
    <button ng-click="closeAll()"></button>
  </div>

  <div class="input text" ng-if="display.age">
    <input type="number" placeholder="21" ng-model="application.age">
    <label>Your age</label>
    <button ng-click="closeAll()"></button>
  </div>

  <div class="input select" ng-if="display.year">
    <select ng-model="application.year">
      <option value="Freshman">Freshman</option>
      <option value="Sophomore">Sophomore</option>
      <option value="Junior">Junior</option>
      <option value="Senior">Senior</option>
      <option value="High School">High Schooler</option>
      <option value="Graduate Student">Graduate Student</option>
    </select>
    <label>Your year in school</label>
    <button ng-click="closeAll()"></button>
  </div>

  <div class="input select" ng-if="display.first">
    <select ng-model="application.first">
      <option value="true">Yes</option>
      <option value="false">No</option>
    </select>
    <label>Is KHE your first hackathon?</label>
    <button ng-click="closeAll()"></button>
  </div>

  <div class="input checkbox" ng-if="display.dietary">
    <p ng-repeat="restriction in application.diet.possible"
       ng-click="application.diet.toggleSelection(restriction)"
       ng-class="{checked: application.diet.selected.indexOf(restriction) > -1}"
       class="item"> {{restriction}} </p>
    <label>Dietary restrictions</label>
    <button ng-click="closeAll()"></button>
  </div>

  <div class="input select" ng-if="display.travel">
    <select ng-model="application.travel">
      <option value="false">No</option>
      <option value="true">Yes</option>
    </select>
    <label>Travel reimbursement?</label>
    <button ng-click="closeAll()"></button>
  </div>

  <div class="input text" ng-if="display.link">
    <input type="text" placeholder="github.com/username" ng-model="application.link">
    <label>A link to something you've done</label>
    <button ng-click="closeAll()"></button>
  </div>
  <!-- /Actual input boxes -->
</article>
<footer>
  <div data-alert class="alert-box alert" ng-if="application.errors">
    <ul>
      <li ng-repeat="e in application.errors">{{e}}</li>
    </ul>
    <br>
    <a class="white large" ui-sref="apply.page1">Basic Info</a> <span class="large">|</span>
    <a class="white large" ui-sref="apply.page2">Additional Info</a> <span class="large">|</span>
    <a class="white large" ui-sref="apply.page3">Agreements</a> <span class="large">|</span>
    <a class="white large" ui-sref="apply.page4">Summary</a>
  </div>
  <button><span><i class="fa fa-check"></i></span> Apply</button>
</footer>